/* Global styles - mobile first design */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #333;
  padding: 0;
  background-image: url("img/hero.jpg");
  background-position: center;
}

/* Typography */
h1,
h2,
p {
  margin: 0;
  font-weight: 400;
}

.main-heading {
  font-size: 1.7em;
}

h2 {
  font-size: 1em;
  font-weight: 400;
  margin: 0;
}

/* nav */

header {
  margin: 0 auto;
  padding: 1.5em;
}

.nav-list {
  flex-direction: column;
}

.nav-item,
.nav-title {
  margin: 1em;
  text-decoration: none;
  color: #333;
  line-height: 1.6;
  letter-spacing: 1px;
  font-weight: 500;
}

.nav-title {
  display: none;
}

.nav-item {
  font-size: 1.2em;
}

.nav-item:hover,
.nav-item:active {
  color: darkgray;
  cursor: pointer;
}

.active {
  font-weight: bold;
  border-bottom: 1px solid;
}

/* layout */

.main-container {
  margin: 0 auto;
  padding: 0;
}

.container header {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: 15em;
  font-size: 0.7em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.card {
  padding: 1em;
  border-radius: 2em;
  width: 30%;
  margin: 0 auto;
}

.card-content {
  display: none;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio-image {
  width: 100%;
  margin: 1em auto;
  border-radius: 5px;
}

.bio-left {
  width: 45%;
}

.bio-right {
  width: 80%;
}

.bio-text {
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 1em auto;
}

#contact-form {
  display: flex;
  margin-top: ;
  flex-direction: column;
  width: 30%;
  align-items: center;
  margin-left: 35%;
}

input,
.btn {
  margin: 1em;
  border: 1px solid #404040;
  border-radius: 0.4em;
}

input {
  color: #404040;
  font-weight: 300;
  padding: 0.5em 2em;
}

/* buttons */

.btn,
.back {
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 1em;
}

.btn {
  margin: 2em 0;
  padding: 1em 2em;
  font-size: 1.2em;
}

.back {
  margin: 1em;
  padding: 0.5em 1em;
  font-size: 1em;
}

.btn:hover,
.btn:active,
.back:hover,
.back:active {
  background-color: #b7b7a4;
  cursor: pointer;
}

.btn a,
.back a {
  text-decoration: none;
  color: #333;
}

/* desktop/mobile */

.desk {
  display: none;
}

.mobile {
  display: inline-block;
}

/* media queries desktop */

@media (min-width: 760px) {
  body {
    height: 100vh;
    padding: 0;
  }

  .main-heading {
    font-size: 3em;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
  }

  .nav-title {
    justify-content: center;
    margin-right: auto;
    padding: 0;
    align-items: center;
    text-align: center;
    display: block;
  }

  .main-container {
    height: 60vh;
    background-color: #fff;
    justify-content: center top;
    align-items: center;
    text-align: center;
    background-image: url("img/hero.jpg");
    background-size: cover;
    background-position: 50% 69%;
  }

  .main-heading {
    padding: 1em 0 0 0;
    margin: 0.5em;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
  }

  .card {
    padding: .7em;
    margin: .5em;
    border-radius: 2em;
    background-color: #b7b7a4;
    width: 20%;
  }

  .card-title {
    margin-bottom: 1em;
  }

  .card-content {
    display: block;
  }

  .bio {
    flex-direction: row;
    text-align: center;
  }

  .bio-image {
    width: 80%;
    margin: 1em auto;
    border-radius: 5px;
  }

  .bio-left {
    width: 50vw;
    margin: 0 auto;
  }

  .bio-right {
    display: flex;
    width: 50vw;
    margin: 0 auto;
  }

  .bio-text {
    line-height: 1.6;
    letter-spacing: 1px;
    margin: 1em auto;
    width: 70%;
  }

  input {
    color: #404040;
    font-weight: 300;
    font-size: 1.1em;
    padding: .5em 3em;
  }

  footer {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 15em auto 0 auto;
  }

  .desk {
    display: none;
    margin-bottom: 1em;
  }

  .mobile {
    display: inline-block;
    margin-bottom: 1em;
  }
}

@media (min-width: 1200px) {

  .card {
    padding: 1em;
    margin: 2em;
    border-radius: 2em;
    background-color: #b7b7a4;
    width: 20%;
  }

  .bio {
    flex-direction: row;
    text-align: center;
  }

  .bio-image {
    width: 45%;
    margin: 1em auto;
  }

  .bio-right {
    margin-right: 5em;
  }


  .card-title {
    margin-bottom: 1em;
  }

  .card-content {
    display: block;
  }
  
    .desk {
    display: inline-block;
  }

  .mobile {
    display: none;
  }

}

